@import '../../theme.scss';

.app-link{
  color: #ddcdc6 !important;
  font-size: 20px;
  font-weight: 900;
}

.link-container{
  margin: 0.5rem 1rem 0 1rem;
  display: flex;
  // align-items: center;
  justify-content: center;
  border-radius: 3rem;
}