* {
    font-family: 'Noto Serif JP', serif;
    
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    // -webkit-overflow-scrolling: touch;
    .card {
      display: inline-block;
      margin: 5px;
    }
  }
@mixin flx-row{
    display: flex;
    flex-direction: row;
}

@mixin flx-column{
    display: flex;
    flex-direction: column;
}
