.motion-container{
    display: flex;
    align-items: center;
    height: 100%;
}

.page-link{
    margin: 0 1rem;
    font-size: 1rem;
    height: 100%;
    // vertical-align:baseline;
    display: flex;
    align-items: center;
}