ul{
    width: 300px;
    height: 200px; 
    overflow: auto;
    overflow-y: scroll;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
  
    .card {
      display: inline-block;
      border: 1px solid #4F2683;
      padding: 3px;
      box-shadow: 0 0 6px 2px;
    }
  }
  .bioSection{
    width: 20rem;
    height: 5rem;
    overflow-wrap: break-word;
    white-space: initial;
  }